html, body, #root {
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* -webkit-box-shadow: 0 0 0px 1000px #1b1b6c inset; */
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
}

.scrollbar-show::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scrollbar-show:hover::-webkit-scrollbar-thumb {
  background-color:rgb(205, 205, 205);
  border-radius: 10px;
}

.scrollbar-show-chat::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.scrollbar-show-chat:hover::-webkit-scrollbar-thumb {
  background-color:rgba(0, 0, 0, .2);
  border-radius: 10px;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}